@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background-light: #f6f7f8;
    --background-dark: #101922;
    --primary: #137fec;
    --slate-900: #0f172a;
    --slate-800: #1e293b;
    --slate-700: #334155;
    --slate-500: #64748b;
    --slate-400: #94a3b8;
    --slate-100: #f1f5f9;
  }

  .dark {
    --background: var(--background-dark);
  }

  body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .timeline-line::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: rgba(19, 127, 236, 0.2);
  }

  .custom-video-overlay {
    background: linear-gradient(
      0deg,
      rgba(16, 25, 34, 0.8) 0%,
      rgba(16, 25, 34, 0) 50%
    );
  }
}
